slack_api_token = "### INSERT SLACK TOKEN https://api.slack.com/web ###"
journal_entry_path = "/Users/alice/journal/entries"
default_channel = "#general"
prompt = "Highlight:"
bot_username = "journal"
bot_emoji = ":memo:"
