webhook_url = "### INSERT TEAM WEBHOOK URL: https://api.slack.com/incoming-webhooks ###"
journal_entry_path = "/Users/alice/journal/entries"
default_channel = "#general"
prompt = "Highlight:"
bot_username = "journal"
bot_emoji = ":memo:"
